@use "reset.scss";
@use "breakpoints.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  min-height: 100vh;
}
body {
  background-color: var(--color-primary-light);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--weight-normal);
  letter-spacing: 1px;
  color: var(--color-text);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.4em;
}

.button {
  padding: 0.6em 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: var(--weight-normal);
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
  &--secondary {
    background-color: var(--color-secondary);
  }
}

input[type="text"] {
  border: 1px solid #cccccc;
  padding: 8px 15px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  /* Not removed via appearance */
  margin: 0;
  margin-right: 10px;
  font: inherit;
  color: var(--color-primary);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--color-primary);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  background-color: var(--color-white);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-primary);
  /* Windows High Contrast Mode */
  background-color: var(--color-primary);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  color: grey;
  cursor: not-allowed;
}
