:root {
  --color-white: #ffffff;
  --color-text: #212121;
  --color-neutral: #ece5ef;
  --color-primary-light: #d6b6c8;
  --color-primary: #8c7899;
  --color-secondary: #8e7073;
  --color-secondary-light: #e4dddd;

  --weight-normal: 400;
  --weight-bold: 700;
}
